.checktype{
font-family:"ºÚÌå";
font-size:16px;
width:300px;
height:100px;   
line-height:100px;   
overflow:hidden;  
position:relative;
left:100%;
top:-420%;
}
.center{
text-align:center;
font-family:"ºÚÌå";
font-size:20px;
background:#F5F5F5; color:#000;
margin: auto; 
margin-top:-100px;
left:150px;
width:300px;
height:100px;   
line-height:100px;   
overflow:hidden;   
}
.start{
font-family:"ºÚÌå";
width:70%;
font-size:15px;
line-height:10px;   
overflow:hidden;
position:relative;
left:5%;
top:-490%;
}
.draw_box{
position:relative;
width:500px;
height:100px;
top:-27%;
left:18%;
}
* {
	margin: 0;
	outline: none;
	padding: 0
}

BODY {
	color: #404040;
	font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;

	font-size: 0.813em; 	/* ~13px */
	line-height: 1.385em; 	/* ~18px */
}
UL.horizontal > LI {
	display: inline-block;
	/* IE */
	*margin: 1px;
	zoom: 1;

}
